.sticky {
  position: sticky;
  top: 0;
  left: 0;
  background-color: gray;
  color: white;
  padding: 0px 0;
  height: 30px;
}

.sticky1 {
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px;
}
